[submodule "auth-service"]
	path = services/auth-service
	url = https://github.com/3DCLT-Fiap-Devops/auth-service
[submodule "targeting-service"]
	path = services/targeting-service
	url = https://github.com/3DCLT-Fiap-Devops/targeting-service
[submodule "analytics-service"]
	path = services/analytics-service
	url = https://github.com/3DCLT-Fiap-Devops/analytics-service
[submodule "flag-service"]
	path = services/flag-service
	url = https://github.com/3DCLT-Fiap-Devops/flag-service
[submodule "evaluation-service"]
	path = services/evaluation-service
	url = https://github.com/3DCLT-Fiap-Devops/evaluation-service
